/* #region PAGE */
html {
    font-family: "Inter", sans-serif;
    color: #292929;
    font-size: 16px;
    line-height: 140%;
}
body {
    margin: 0;
}
/* #endregion */

/* #region HEADER */
.header {
    box-sizing: border-box;
    height: 100vh;
    background-image: url(../imgs/header-bg-mobile.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 24px 20px 40px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header__top {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__icons {
    display: flex;
    gap: 24px;
}

.header__waves {
    height: 57px;
    width: 48px;
    margin-bottom: 16px;
    background-image: url(../imgs/sound-waves.png);
}

.header__title {
    margin: 0;
    font-style: italic;
    font-size: 32px;
    font-weight: 800;
    line-height: 100%;
    letter-spacing: -1.5px;
}

/* #endregion */

/* #region ICON */
.icon {
    display: block;
    width: 24px;
    height: 24px;
}

.icon--phone {
    background-image: url(../imgs/icon-phone.png);
}

.icon--menu {
    background-image: url(../imgs/icon-burg.png);
}

/* #endregion */

/* #region FOOTER */
/* .footer {

} */

/* #endregion */