body {
    box-sizing: border-box;
    width: 950px;
    margin: auto;
}

.box {
    font-size: 32px;
    margin: 50px;
    padding: 20px;
}   

.box::before,
.box::after {
    display: block;
    content: "";
    height: 10px;
    color: green;
    background-color: yellowgreen;
}