.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    /*strech deixa o tamanho (height) dos elemento alinhados*/
    align-items: stretch;
    height: 300px;
    width: 500px;
    border: 3px solid red;
}

.box {
    padding: 5px 10px;
    border: 3px solid blue;
    background-color: yellow;
}

.box-2 {
    font-size: 30px;
}

.box-4 {
    font-size: 40px;
}

.box-5 {
    font-size: 30px;
}