.product-card__buy {
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;

  width: $width-deafult;
  height: 40px;

  margin-left: $margin-default;

  background-color: $color-button;

  border-radius: 5px;
  color: #fff;

  text-transform: uppercase;
}

.product-card__buy-text {
  font-size: 14px;
  font-weight: 700;

  line-height: 16;
}

.product-card__buy:hover {
  background-color: transparent;
  color: $color-button;
  border: 1px solid $color-button;
}
