.product-card__price {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 85px;

  line-height: 18px;
  width: $width-deafult;

  margin-left: $margin-default;
  margin-top: 2px;
}

.product-card__price-text {
  display: flex;
  color: $color-text-code-value;

  font-size: 12px;
  font-weight: 400;
}

.product-card__price-value {
  display: flex;

  font-size: 16px;
  font-weight: 700;

  line-height: 18px;
}
