.product-card__title {
  box-sizing: border-box;

  color: $color-main;

  font-family: $font-default;
  font-weight: 500;

  width: $width-deafult;
  height: 36px;
  margin-left: $margin-default;
  margin-bottom: 0;

  font-size: 12px;

  line-height: 18px;
}

.product-card__code {
  color: $color-text-code-value;
  width: 98px;

  margin-top: 4px;
  margin-left: $margin-default;

  font-size: 10px;
  font-weight: 400;

  line-height: 14px;
}
