/* #region PAGE */
.page {
    font-family: "Inter", sans-serif;
    color: #292929;
    font-size: 16px;
    line-height: 140%;
    color: #292929;

    scroll-behavior: smooth;
}
.page__body {
    margin: 0;
}

.page__menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
}

.page__menu:target {
    opacity: 1;
    pointer-events: all;
}

/* #endregion */
/* #region HEADER */
.header {
    box-sizing: border-box;
    height: 100vh;
    background-image: url(../imgs/header-bg-mobile.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header__waves {
    height: 57px;
    width: 48px;
    margin-bottom: 16px;
    background-image: url(../imgs/sound-waves.png);
}

.header__title {
    margin: 0;
    font-style: italic;
    font-size: 32px;
    font-weight: 800;
    line-height: 100%;
    letter-spacing: -1.5px;
}

.header__bottom {
    padding: 0 20px 40px;
}


/* #endregion */
/* #region MENU */
.top-bar {
    padding: 24px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.top-bar__icons {
    display: flex;
    gap: 24px;
}

.top-bar__logo {
    display: flex;
}

.menu {
    box-sizing: border-box;
    
    height: 100vh;
    background-color: #E5E5E5;
    font-weight: 700;
    text-transform: uppercase;
}

.manu__top {
    margin-bottom: 32px;
}

.menu__content {
    position: relative;
}

.menu__nav {
    margin-bottom: 40px;
}

.menu__content {
    padding-inline: 20px;
}

.menu__phone-number {
    display: block;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 27px;
    color: inherit;
    text-decoration: none;
}

.menu__call-to-order {
    display: block;
    /* 
    fit content ira fazer com que so se estenta a 
    linha ate o tamanho max do elemento 
    */
    width: fit-content;
    padding-bottom: 7px;
    border-bottom: 1px solid #292929;
    
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    color: inherit;
    text-decoration: none;
}

/* #endregion */
/* #region NAV */
.nav__link {
    color: inherit;
    text-decoration: none;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
}
.nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
/* #endregion */
/* #region ICON */
.icon {
    display: block;
    width: 24px;
    height: 24px;
}

.icon--phone {
    background-image: url(../imgs/icon-phone.png);
}

.icon--menu {
    background-image: url(../imgs/icon-burg.png);
}

.icon--close {
    background-image: url(../imgs/Icon-close.png);
}

/* #endregion */
/* #region FOOTER */
/* .footer {

} */

/* #endregion */