$background-header: #F5EDE5;
$background-main: #F8F4EF;
$titles-bege: #EFE4D6;
$titles-brow: #4B362B;
$text: #6B625B;
$button: #7A5C46;	
$hover: #B98A45;
$ornament: #C9A46A;

// Defaults
$margin-short: 15px;
$padding-short: 15px;

// Mobile
$gap-mobile: 15px;
$logo-mobile-height: 100px;
$logo-mobile-width: 320px;
$padding-mobile: 10px;
$padding-mobile-icon: 4px;
$padding-mobile-icon-width: 80%;

// Tablet
$padding-tablet-header: 20px 60px;

// Desktop
$padding-inline-sec-intro: 85px;
$width-main-intro-text: 320px;
